body {
    font-size: .85em;
    font-family: Cambria, Georgia, "Times New Roman";
    margin: 0;
    color: #232323;
    background-color: #fee;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

#header {
    border-bottom: 4px solid #808080;
    background-color: #242020;
    padding: 5px 5px 5px 5px;
}

.title {
    color: white;
    font-size: 40px;
    height: 100px;
}

#categories {
    float:left;
    width: 8em;
    padding: .3em;
    margin: 10px;
}



.tab{
      float: left;
      color: white;
      font-weight: 700;
      text-decoration: none;
      user-select: none;
      padding: .5em 2em;
      outline: none;
      border: 2px solid;
      border-radius: 1px;
      transition: 0.2s;
      background-color: #242020;
}
.tab:hover{
    background-color: #fa3838;
    cursor: pointer;
    user-select: none;
}
.tab:active{
    background-color: #ff7a7a;
    box-shadow: 0 3px rgb(33, 147, 90) inset;
    user-select: none;
}

#content {
    margin-left: 10em;
    border-left: 2px solid #808080;
    padding: 5px;
}

.pager{
    
    display: inline-block;
    background-color:black;
    text-align: center;
    width: 15px;
    height: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-right: 10px;
    margin-top: 10px;
}
.pager > a{
    text-decoration: none;
    color: white;
    
    
}